<mat-toolbar class="header">
  <mat-icon>menu</mat-icon>
  <span class="keeplogo">
      <img class="logo" src="../../assets/google-keep-icon.svg">
      <p style="margin-top: 6%;font-weight: 400;">Keep</p>
  </span>

  <span class="searchBar">
      <i class='material-icons'>&#xe8b6;</i>
      <input class="searchinput" placeholder="search" type="text" id="search" (change)="Search($event)" />
  </span>

  <div class="tools">
      <mat-icon>refresh</mat-icon>
      <mat-icon>lists</mat-icon>
      <mat-icon>settings</mat-icon>
  </div>
  <div class="profile">
      <mat-icon style="margin-top: 3% ;" alt="icon">apps</mat-icon>
      <div class="profile_pic">
          <span (click)="Logout()" >{{username}}</span>
  </div>
  </div>

</mat-toolbar>