.logo-icon{
    width: 8%;
    height: 50%;
    margin-left: 1.8%;
}

.mat-card>:first-child {
    margin-top: 1.8%;
}

.example-card{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    border-radius: 28px;
    width: 840px;
    min-height:384px;
}
.example-card1{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    border-radius: 28px;
    width: 840px;
    min-height:340px;
}
.content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1%;
}

.right-text{
    margin-right: 5%;
    display: flex;
    flex-direction: column;
}
.right-text1{
    margin-top: 4%;
    display: flex;
    flex-direction: column; 
    width: 45%;
}

.left-text{
    display: flex;
    flex-direction: column;
    margin-left: 1.8%;
    width: 30%;
}

a{
    text-decoration: none; 
    color: var(--gm3-sys-color-primary, #0b57d0);
    font-weight: 500;
    letter-spacing: 0.015625rem;
}
.lower-text{
    padding-top: 40px;
    padding-bottom: 3px;
}

.sign-in-text{
    font:36px roboto;
    font-weight: var(--c-tfwt, 400);
    margin-left: 5%;
    color: var(--gm3-sys-color-on-surface, #1f1f1f);
}

.sign-in-text2{
    font-weight:400;
    letter-spacing: 0rem;
    line-height: 1.5;
    font: size 1rem;;
    color:  #1f1f1f;
}
.mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0%;
}

.create-btn{
    margin-left: 67%;
    height: 48px;
    font-size: 0.875rem;
    font-weight: 500;
    letter-spacing: 0rem;
    line-height: 1.4285714286
}

.bottom-items{
    margin-left: 17%;
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1%;
}
.bottom-items-right{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 0.75rem;
    font-weight: 400;
    letter-spacing: 0.00625rem;
    line-height: 1.3333333333;
    outline: none;
    padding: 8px 12px;
    margin-left: 43%;
}
.bottom-items-right>*{
    margin-left: 3%;
    margin-right: 3%;
    font-family: "Google Sans", roboto, "Noto Sans Myanmar UI", arial, sans-serif;
    font-size: 0.75rem;
    font-weight: 400;
    letter-spacing: 0.00625rem;
    line-height: 1.3333333333;
    outline: none;
    padding: 8px 12px;
    color: #1f1f1f;
}

select{
    font-family: "Google Sans", roboto, "Noto Sans Myanmar UI", arial, sans-serif;
    font-size: 0.75rem;
    font-weight: 400;
    letter-spacing: 0.00625rem;
    line-height: 1.3333333333;
    outline: none;
    color: #1f1f1f;
    border: none;
    height: 30px;
}

.show-password{
    font-size: 0.875rem;
    line-height: 1.4285714286; 
    font-family: Roboto;
    font-weight: 500;
    width: 20%;
}
.email-div{
    border-radius: 20px;
    border: 1px solid black;
    height: 20px;
    width: 70%;
    display: flex;
    align-items: center;
    .sign-in-text3{
        margin-top: 3.5%
    }
    mat-icon{
        margin-left: 0px;
    }
}

