<div class="sidebar">
    <div class="sidebar-contents">
     <mat-icon aria-hidden="false" aria-label="note icon">lightbulb</mat-icon>
     <span>Note</span>
    </div>
    <div class="sidebar-contents">
     <mat-icon  aria-hidden="false" aria-label="reminder icon">notifications</mat-icon>
     <span>Reminder</span>
    </div>
    <div class="sidebar-contents">
     <mat-icon aria-hidden="false" aria-label="edit icon">edit</mat-icon>
     <span>Edit label</span>
    </div>
    <div class="sidebar-contents">
     <mat-icon aria-hidden="false" aria-label="archive icon">archive</mat-icon>
     <span>Archive</span>
    </div>
    <div class="sidebar-contents">
     <mat-icon  aria-hidden="false" aria-label="trash icon">delete</mat-icon>
     <span>Trash</span>
    </div>
 </div>